@import 'config';
@import 'menu';


// top + banner photo

.top{
    height: 5vh;
    width: 100%;
    background: darken($primary-color, 10);
}

.banner{
    position: relative;
    left: 0;
    right: 0;
    
    .banner-img{
        position: relative;
        width: 100%;
        height: 30vh;
        object-fit: cover;
        z-index: 0;
    }

    .logo{
        position: absolute;
        display: block;
        margin: auto;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        width: 200px;
        height: 200px;
        z-index: 1;
    }
}

a{
    color: #fff;
    text-decoration: none;
}

body{
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3{
    margin: 0;
    font-weight: 600;

    &.lg-heading{
        font-size: 2.3rem;
        text-transform: uppercase;
    }
}

main{
    min-height: calc(65vh - 65px);
    font-size: 15px;

    .icons{
        a{
            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
        width: 100%;
    }
}

// index.html

.calendar{
    margin-top: 5px;
    width: 100%;
    height: 23vh;
    border: solid 4px $secondary-color;
}


// events.html

.events{
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;


    img{
        width: 100%;
        border: 3px #fff solid;

        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}


.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

// contact.html

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;

    div{
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
        @include easeOut;

        span{
            color: $secondary-color;
        }



        &:hover{
            padding: 0.3rem 0.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            
            .text-secondary {
                color: set-text-color($secondary-color);
            }
            a{
                color: set-text-color($secondary-color);
                @include easeOut;
            }
        }
    }

}

// footer

.main-footer{
    text-align: center;
    padding: 1.1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
}

@import 'mobile';